html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

:root {
  --topBot-clr: rgb(29, 29, 59);
  --brdr-rad: 10px;
}

body {
  min-height: 100vh;
  min-width: 100%;
}

body {
  background-color: rgb(142, 165, 241);
}

* {
  outline: solid 1px red;
}

#root,
.container {
  min-height: 100vh;
}

.container {
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
}

.leftSide {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 227);
  border: 1px solid rgb(230, 230, 227);
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.37);
  padding: 10px;
  padding-top: 0;
  margin-left: 30px;
  flex: 1;
}

.mainContent {
  flex: 1;
  margin: 25px 0;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.remove {
  background-color: rgb(252, 44, 44);
}

.remove:hover {
  background-color: red;
}

.add {
  background-color: rgb(64, 139, 64);
}

.add:hover {
  background-color: green;
}

.title {
  font-size: 2rem;
  font-weight: 550;
  margin: 5px 0;
}

input {
  padding: 10px;
  border: none;
  border-radius: var(--brdr-rad);
  font-size: 1rem;
}

.header {
  text-align: center;
  background-color: var(--topBot-clr);
  color: white;
  font-size: 50px;
  padding: 20px;
  font-weight: 600px;
}

.footer {
  background-color: var(--topBot-clr);
  color: white;
  padding: 10px 0;
  font-size: 1.5rem;
}

.submit {
  margin: 10px 0;
}

.btn {
  padding: 10px;
  border: none;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 550;
  border-radius: var(--brdr-rad);
  transition: background-color 0.3s;
  color: white;
}

.submit {
  background-color: rgba(29, 29, 59, 0.85);
}

.submit:hover {
  background-color: var(--topBot-clr);
}

.buttonsCont {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.mainContent {
  display: flex;
}

.rightSide {
  flex: 1;
}

.cvContent {
  border: 3px solid black;
  margin: 0px 20px;
  padding: 15px;
}

.cvHeader {
  display: flex;
}

.textLeft {
  flex: 2;
}

.textRight {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nameText {
  font-size: 2.5rem;
  color: blueviolet;
  margin: 0;
  font-weight: 550;
}

.textTitle {
  font-size: 1.5rem;
  color: black;
}

.verticalLine {
  background-color: var(--topBot-clr);
  height: 3px;
}

.titleCV {
  font-size: 1.5rem;
  font-weight: 550;
  margin: 5px 0;
}

.itemDB {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.titleItem {
  font-weight: 600;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experienceTitle {
  display: flex;
  gap: 30px;
}
