html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

:root {
  --topBot-clr: rgb(29, 29, 59);
}

body {
  min-height: 100vh;
  min-width: 100%;
}

body {
  background-color: rgb(142, 165, 241);
}

/* * {
  outline: solid 1px red;
} */

#root,
.container {
  min-height: 100vh;
}

.container {
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
}

.leftSide {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 227);
  border: 1px solid rgb(230, 230, 227);
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.37);
  padding: 10px;
  padding-top: 0;
  margin-left: 30px;
}

.mainContent {
  flex: 1;
  margin: 25px 0;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.remove {
  background-color: red;
}

.add {
  background-color: green;
}

.title {
  font-size: 2rem;
  font-weight: 550;
  margin: 5px 0;
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.header {
  text-align: center;
  background-color: var(--topBot-clr);
  color: white;
  font-size: 50px;
  padding: 20px;
  font-weight: 600px;
}

.footer {
  background-color: var(--topBot-clr);
  color: white;
  padding: 10px 0;
  font-size: 1.5rem;
}

.submit {
  margin: 10px 0;
}
